<mat-toolbar color="primary">
  <mat-icon style="padding-right: 15px">wallet</mat-icon>
  <span>Noobcash Wallet</span>
  <span class="example-spacer"></span>

  <div class="nav-items" *ngIf="router.url !== '/login'">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>payments</mat-icon>
      Transactions
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="transaction">View</button>
      <button mat-menu-item (click)="onCreateClick()">Create</button>
    </mat-menu>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="balance"
    >
      <mat-icon>savings</mat-icon>
      Balance
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="help"
    >
      <mat-icon>help</mat-icon>
      Help
    </button>

    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="login"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
