mat-form-field {
  display: block;
}

button {
  width: 100%;
}

.login-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 400px;
}
